{
  "swagger" : "2.0",
  "info" : {
    "description" : "Sylius Shop API documentation",
    "version" : "1.0.1",
    "title" : "Sylius Shop API",
    "contact" : {
      "email" : "lukasz.chrusciel@sylius.com"
    },
    "license" : {
      "name" : "MIT",
      "url" : "https://opensource.org/licenses/MIT"
    }
  },
  "host" : "demo.sylius.com",
  "basePath" : "/shop-api",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/carts": { "$ref": "paths/cart.swagger.json#/pickup-cart" },
    "/carts/{token}": { "$ref": "paths/cart.swagger.json#/manage-single-cart" },
    "/carts/{token}/items": { "$ref": "paths/cart.swagger.json#/add-item-to-cart" },
    "/carts/{token}/multiple-items": { "$ref": "paths/cart.swagger.json#/add-items-to-cart" },
    "/carts/{token}/items/{identifier}": { "$ref": "paths/cart.swagger.json#/manage-single-cart-item" },
    "/carts/{token}/estimated-shipping-cost": { "$ref": "paths/cart.swagger.json#/estimated-shipping-cost" },
    "/carts/{token}/coupon": { "$ref": "paths/cart.swagger.json#/manage-cart-coupons" },

    "/checkout/{token}": { "$ref": "paths/checkout.swagger.json#/checkout-by-token" },
    "/checkout/{token}/address": { "$ref": "paths/checkout.swagger.json#/manage-checkout-address" },
    "/checkout/{token}/shipping": { "$ref": "paths/checkout.swagger.json#/get-available-shipping-methods" },
    "/checkout/{token}/shipping/{id}": { "$ref": "paths/checkout.swagger.json#/select-shipping-method" },
    "/checkout/{token}/payment": { "$ref": "paths/checkout.swagger.json#/get-available-payment-methods" },
    "/checkout/{token}/payment/{id}": { "$ref": "paths/checkout.swagger.json#/select-payment-method" },
    "/checkout/{token}/complete": { "$ref": "paths/checkout.swagger.json#/complete-checkout" },

    "/taxon-products/by-slug/{taxonSlug}": { "$ref": "paths/taxon-products.swagger.json#/products-by-taxon-slug" },
    "/taxon-products/by-code/{taxonCode}": { "$ref": "paths/taxon-products.swagger.json#/products-by-taxon-code" },

    "/products/by-slug/{slug}": { "$ref": "paths/products.swagger.json#/product-by-slug" },
    "/products/by-code/{code}": { "$ref": "paths/products.swagger.json#/product-by-code" },
    "/products/by-slug/{slug}/reviews": { "$ref": "paths/products.swagger.json#/reviews-by-product-by-slug" },
    "/products/by-code/{code}/reviews": { "$ref": "paths/products.swagger.json#/reviews-by-product-by-code" },
    "/product-latest": { "$ref": "paths/products.swagger.json#/latest-products" },

    "/taxons": { "$ref": "paths/taxons.swagger.json#/get-available-taxons" },
    "/taxons/{code}": { "$ref": "paths/taxons.swagger.json#/get-taxon-by-code" },

    "/request-password-reset": { "$ref": "paths/users.swagger.json#/request-password-reset" },
    "/password-reset/{token}": { "$ref": "paths/users.swagger.json#/reset-password-with-token" },
    "/register": { "$ref": "paths/users.swagger.json#/register" },
    "/login": { "$ref": "paths/users.swagger.json#/login" },
    "/me": { "$ref": "paths/users.swagger.json#/me" },
    "/orders": { "$ref": "paths/order.swagger.json#/get-orders" },
    "/orders/{tokenValue}": { "$ref": "paths/order.swagger.json#/get-order-by-token" },
    "/address-book": { "$ref": "paths/address.swagger.json#/manage-address-book" },
    "/address-book/{id}": { "$ref": "paths/address.swagger.json#/manage-address-in-address-book-by-id" },
    "/address-book/{id}/default": { "$ref": "paths/address.swagger.json#/set-address-as-default-in-address-book" }
  },
  "securityDefinitions" : {
    "bearerAuth" : {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "AddReviewRequest" : { "$ref": "definitions/definitions.swagger.json#/AddReviewRequest" },
    "PutItemToCartRequest" : { "$ref": "definitions/definitions.swagger.json#/PutItemToCartRequest" },
    "PutItemsToCartRequest" : { "$ref": "definitions/definitions.swagger.json#/PutItemsToCartRequest" },
    "ChangeItemQuantityRequest" : { "$ref": "definitions/definitions.swagger.json#/ChangeItemQuantityRequest" },
    "AddCouponRequest" : { "$ref": "definitions/definitions.swagger.json#/AddCouponRequest" },
    "CheckoutAddressRequest" : { "$ref": "definitions/definitions.swagger.json#/CheckoutAddressRequest" },
    "CheckoutChooseShippingMethodRequest" : { "$ref": "definitions/definitions.swagger.json#/CheckoutChooseShippingMethodRequest" },
    "CheckoutChoosePaymentMethodRequest" : { "$ref": "definitions/definitions.swagger.json#/CheckoutChoosePaymentMethodRequest" },
    "CheckoutCompleteRequest" : { "$ref": "definitions/definitions.swagger.json#/CheckoutCompleteRequest" },
    "AvailableShippingMethods" : { "$ref": "definitions/definitions.swagger.json#/AvailableShippingMethods" },
    "Shipment" : { "$ref": "definitions/definitions.swagger.json#/Shipment" },
    "AvailablePaymentMethods" : { "$ref": "definitions/definitions.swagger.json#/AvailablePaymentMethods" },
    "Cart" : { "$ref": "definitions/definitions.swagger.json#/Cart" },
    "Item" : { "$ref": "definitions/definitions.swagger.json#/Item" },
    "Image" : { "$ref": "definitions/definitions.swagger.json#/Image" },
    "Variant" : { "$ref": "definitions/definitions.swagger.json#/Variant" },
    "Attribute" : { "$ref": "definitions/definitions.swagger.json#/Attribute" },
    "Taxon" : { "$ref": "definitions/definitions.swagger.json#/Taxon" },
    "TaxonDetails" : { "$ref": "definitions/definitions.swagger.json#/TaxonDetails" },
    "ProductTaxon" : { "$ref": "definitions/definitions.swagger.json#/ProductTaxon" },
    "Discount" : { "$ref": "definitions/definitions.swagger.json#/Discount" },
    "Product" : { "$ref": "definitions/definitions.swagger.json#/Product" },
    "ProductsPage" : { "$ref": "definitions/definitions.swagger.json#/ProductsPage" },
    "ProductDetails" : { "$ref": "definitions/definitions.swagger.json#/ProductDetails" },
    "Page" : { "$ref": "definitions/definitions.swagger.json#/Page" },
    "ProductReviewsPage" : { "$ref": "definitions/definitions.swagger.json#/ProductReviewsPage" },
    "Price" : { "$ref": "definitions/definitions.swagger.json#/Price" },
    "EstimatedShippingCost" : { "$ref": "definitions/definitions.swagger.json#/EstimatedShippingCost" },
    "Address" : { "$ref": "definitions/definitions.swagger.json#/Address" },
    "PaymentMethod" : { "$ref": "definitions/definitions.swagger.json#/PaymentMethod" },
    "ShippingMethod" : { "$ref": "definitions/definitions.swagger.json#/ShippingMethod" },
    "RequestPasswordResetting" : { "$ref": "definitions/definitions.swagger.json#/RequestPasswordResetting" },
    "PasswordResetRequest" : { "$ref": "definitions/definitions.swagger.json#/PasswordResetRequest" },
    "PasswordReset" : { "$ref": "definitions/definitions.swagger.json#/PasswordReset" },
    "RegisterRequest" : { "$ref": "definitions/definitions.swagger.json#/RegisterRequest" },
    "LoginRequest" : { "$ref": "definitions/definitions.swagger.json#/LoginRequest" },
    "UpdateUserRequest" : { "$ref": "definitions/definitions.swagger.json#/UpdateUserRequest" },
    "LoggedInCustomerDetails" : { "$ref": "definitions/definitions.swagger.json#/LoggedInCustomerDetails" },
    "LoggedInCustomerAddressBook" : { "$ref": "definitions/definitions.swagger.json#/LoggedInCustomerAddressBook" },
    "LoggedInCustomerAddressBookAddress" : { "$ref": "definitions/definitions.swagger.json#/LoggedInCustomerAddressBookAddress" },
    "TotalsView" : { "$ref": "definitions/definitions.swagger.json#/TotalsView" },
    "LoginSuccess" : { "$ref": "definitions/definitions.swagger.json#/LoginSuccess" },
    "PlacedOrder" : { "$ref": "definitions/definitions.swagger.json#/PlacedOrder" },
    "GeneralError" : { "$ref": "definitions/definitions.swagger.json#/GeneralError" },
    "AvailableShippingMethods_shipments" : { "$ref": "definitions/definitions.swagger.json#/AvailableShippingMethods_shipments" },
    "AvailablePaymentMethods_payments" : { "$ref": "definitions/definitions.swagger.json#/AvailablePaymentMethods_payments" },
    "Page__links" : { "$ref": "definitions/definitions.swagger.json#/Page__links" }
  },
  "parameters" : {
    "ChannelCode" : {
      "name" : "channelCode",
      "in" : "path",
      "description" : "The request channel code",
      "required" : true,
      "type" : "string"
    },
    "CartToken" : {
      "name" : "token",
      "in" : "path",
      "description" : "Cart identifier.",
      "required" : true,
      "type" : "string"
    }
  },
  "tags" : [ {
    "name" : "cart",
    "description" : "All actions related to cart management.",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://docs.sylius.com/en/latest/book/orders/index.html"
    }
  }, {
    "name" : "products",
    "description" : "Show product catalog and add product reviews.",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://docs.sylius.com/en/latest/book/products/index.html"
    }
  }, {
    "name" : "taxons",
    "description" : "Show taxon tree",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://docs.sylius.com/en/latest/book/products/taxons.html"
    }
  }, {
    "name" : "taxon-products",
    "description" : "Products by taxon",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://docs.sylius.com/en/latest/book/products/taxons.html"
    }
  }, {
    "name" : "checkout",
    "description" : "All actions related to checkout fulfillment. It is important, to execute them in given order (address, choose shipment, choose payment and complete).",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://docs.sylius.com/en/latest/book/orders/checkout.html"
    }
  }, {
    "name" : "order",
    "description" : "Showing the order information",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://docs.sylius.com/en/latest/book/orders/orders.html"
    }
  }, {
    "name" : "users",
    "description" : "All actions related to user functionality.",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "http://docs.sylius.com/en/latest/book/customers/customer_and_shopuser.html"
    }
  }, {
    "name" : "address",
    "description" : "All functions related to the Sylius Customer Address Book",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://docs.sylius.com/en/latest/book/customers/addresses/address_book.html"
    }
  } ]
}